:root {
  --background: #e5e5e5;
  --foreground: #000000;
  --hover: #ff9800;
  --primary: #ff9800;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  color: var(--foreground);
  background-color: var(--background);
  letter-spacing: 2px;
}

a {
  text-decoration: none;
  color: var(--foreground) !important;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  padding: 1rem 2rem;
  margin: 0 auto;
  position: relative;
  border-bottom: 1px solid var(--foreground);
}

.brand-div {
  display: flex;
  gap: 2rem;
}

.brand {
  font-size: 2rem;
}

#theme-mobile {
  display: none;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: var(--background);
}

.nav-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburger,
#checkbox-toggle {
  display: none;
  color: var(--foreground);
}

.nav-item {
  position: relative;
  display: inline-block;
}

.nav-link {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  text-transform: uppercase;
}

.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: var(--hover);
  transition: width 0.3s ease;
}

.nav-link:hover {
  color: var(--hover) !important;
}

.nav-link:hover::after {
  width: 100%;
}

.containerize {
  max-width: 1200px;
  margin: auto;
  padding: 1rem 2rem;
}

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 3rem auto;
}

.about-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.hero_img_section {
  width: 60%;
}

.hero__img {
  width: 100%;
}

.hero__heading {
  font-size: clamp(1rem, 5rem, 5vw);
}

.hero__desc-container {
  display: inline-block;
}

.hero__desc {
  font-size: clamp(1rem, 2rem, 3vw);
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid orange;
  width: 0;
  animation: typing 2s steps(40, end) alternate infinite;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 105%;
  }
}

.socials {
  display: flex;
  gap: 2rem;
}

.social-icon {
  font-size: 2rem;
}

.resume {
  margin-top: 1rem;
}

.fa-linkedin:hover {
  color: #0a66c2 !important;
}

.fa-x-twitter:hover {
  color: #2c1d1d !important;
}

.fa-instagram:hover {
  color: #ff0169 !important;
}

.fa-google:hover {
  color: #0a66c2 !important;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: auto;
}

.exp_content {
  position: relative;
  padding: 1rem 2rem;
  width: 50%;
}

.text-box {
  position: relative;
  background-color: var(--foreground);
  color: var(--background);
  padding: 1.5rem;
  border-radius: 10px;
}

.left_content {
  left: 0;
}

.right_content {
  left: 50%;
}

.exp_content img {
  position: absolute;
  width: 3rem;
  border-radius: 50%;
  right: -1.5rem;
  top: 2rem;
  z-index: 2;
}

.right_content img {
  left: -1.5rem;
}

.timeline::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  width: 0.5rem;
  height: 100%;
  background-color: var(--foreground);
  z-index: 1;
}

.text-box h3 {
  margin: 0;
  font-weight: 600;
}

.text-box small {
  display: inline-block;
  margin-bottom: 1rem;
}

.left_content_arr {
  position: absolute;
  height: 0;
  width: 0;
  top: 2rem;
  border-top: 0.5rem solid transparent;
  border-bottom: 0.5rem solid transparent;
  border-left: 0.5rem solid var(--foreground);
  right: -0.5rem;
  z-index: 2;
}

.right_content_arr {
  position: absolute;
  height: 0;
  width: 0;
  top: 2rem;
  border-top: 0.5rem solid transparent;
  border-bottom: 0.5rem solid transparent;
  border-right: 0.5rem solid var(--foreground);
  left: -0.5rem;
  z-index: 2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #e5e5e5;
  }
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 900px) {
  .hamburger {
    display: block;
    font-size: 2rem;
  }

  .nav-menu {
    position: absolute;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 1rem;
    margin: 0;
    left: -200%;
    top: 100%;
    z-index: 99;
    border-bottom: 1px solid #c1c3c5;
    transition: all 0.5s ease-in-out;
  }

  #theme-mobile {
    display: block;
  }

  #theme {
    display: none;
  }

  .nav-link {
    display: block;
    margin: 0;
  }

  .nav-item {
    padding: 0.5rem 0;
  }

  input[type="checkbox"]:checked~.nav-menu {
    left: 0;
  }
}

@media screen and (max-width: 768px) {
  #hero {
    flex-direction: column;
    margin: 1rem auto;
    gap: 3rem;
  }

  .about-hero {
    width: 100%;
  }

  .hero_img_section {
    width: 100%;
  }

  .hero__heading {
    font-size: clamp(3rem, 5rem, 15vw);
  }

  .hero__desc {
    font-size: clamp(1rem, 2rem, 6vw);
  }

  .social-icon {
    font-size: clamp(1rem, 2rem, 6vw);
  }
}

@media screen and (max-width: 580px) {
  html {
    font-size: 10px;
  }

  .timeline::after {
    left: 2rem;
  }

  .exp_content {
    width: 100%;
    padding-left: 4rem;
  }

  .right_content {
    left: 0;
  }

  .left_content img,
  .right_content img {
    left: 0.6rem;
  }

  .left_content_arr {
    border-left: 0;
    border-right: 0.5rem solid var(--foreground);
    left: -0.5rem;
  }
}

@media screen and (max-width: 480px) {}